/*THEME generic*/
.ccl-u-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.ccl-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  border-radius: 0;
  background-color: #615c9f;
  color: #fff;
  padding: 0.6rem 1rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  word-wrap: break-word;
  cursor: pointer; }
  .ccl-button.ccl-button--filter-primary {
    line-height: 2.6111111111rem;
    padding: 0 2.6111111111rem; }
  .ccl-button.ccl-button--filter-secondary {
    line-height: 2.6111111111rem;
    padding: 0 2.6111111111rem; }
  .ccl-button.ccl-button--filter-icon {
    line-height: 2.6111111111rem;
    text-align: left;
    padding: 0 0.5555555556rem; }
    .ccl-button.ccl-button--filter-icon span {
      float: right;
      line-height: 2.6111111111rem; }
  .ccl-button.ccl-button-primary {
    padding: 1rem;
    height: auto !important;
    display: block !important;
    border-radius: 10px;
    min-height: inherit !important;
    min-width: 160px !important;
    width: 100% !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    font-size: 18px;
    font-weight: bold;
    max-width: inherit;
    text-transform: uppercase; }
    .ccl-button.ccl-button-primary:hover {
      -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2); }

.ccl-link {
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 1px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.ccl-link_hover {
  text-decoration: none;
  padding-bottom: 1px;
  font-weight: 400; }

.ccl-breadcrumb .ccl-breadcrumb__segments-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0.5rem; }
  .ccl-breadcrumb .ccl-breadcrumb__segments-wrapper .ccl-breadcrumb__segment:last-child .ccl-breadcrumb__link:after {
    content: none; }
.ccl-breadcrumb .ccl-breadcrumb__segment {
  font-size: 0.875rem;
  line-height: 1.375;
  display: block; }
  .ccl-breadcrumb .ccl-breadcrumb__segment .ccl-breadcrumb__link {
    margin-right: 2rem;
    font-weight: 400; }
    .ccl-breadcrumb .ccl-breadcrumb__segment .ccl-breadcrumb__link:after {
      display: inline-block;
      position: absolute;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      speak: none;
      text-decoration: none;
      text-transform: none;
      content: ">";
      width: 2rem; }
    .ccl-breadcrumb .ccl-breadcrumb__segment .ccl-breadcrumb__link:hover {
      text-decoration: underline; }
.ccl-breadcrumb.ccl-breadcrumb-white .ccl-breadcrumb__link {
  color: #fff; }

.ccl-error {
  color: #da2130 !important; }

.ccl-form {
  margin: 0;
  padding: 0; }
  .ccl-form .ccl-form-control,
  .ccl-form input,
  .ccl-form select,
  .ccl-form textarea {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .ccl-form .ccl-fieldset {
    border: 0;
    margin: 0;
    padding: 0; }
  .ccl-form .ccl-form-legend {
    font-weight: 600;
    line-height: 1.66;
    margin: 0; }
  .ccl-form .ccl-form-legend--level-1 {
    display: block;
    font-size: 1.375rem;
    width: 100%; }
  .ccl-form .ccl-form-group {
    margin: 0; }
  .ccl-form * + .ccl-form-group {
    margin-top: 1.66rem; }
  .ccl-form legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal; }
  .ccl-form .ccl-form-label {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
    padding: 0;
    text-align: left; }
  .ccl-form .ccl-text-input {
    background-color: #fff;
    background-image: none;
    box-sizing: border-box;
    min-height: 2.5555555556rem;
    display: block;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0.5555555556rem 1.1111111111rem;
    width: 100%; }
  .ccl-form * + .ccl-text-input {
    margin-top: 0.89rem; }
  .ccl-form .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%; }
  .ccl-form .ccl-text-input[disabled],
  .ccl-form .ccl-text-input[readonly] {
    background-color: #eee;
    cursor: not-allowed;
    opacity: 1; }
  .ccl-form .ccl-help-block {
    font-size: 0.875rem;
    line-height: 1.66;
    margin: 0; }
  .ccl-form * + .ccl-help-block {
    margin-top: 0.89rem; }
  .ccl-form .ccl-text-input--has-error {
    border-width: 2px; }
  .ccl-form .ccl-feedback-message--error {
    font-size: 0.875rem; }
  .ccl-form .ccl-form-check-input {
    display: none;
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem; }
  .ccl-form input[type="checkbox"],
  .ccl-form input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  .ccl-form .ccl-form-check-label {
    margin-bottom: 0; }
  .ccl-form .ccl-form-check-input + .ccl-form-check-label,
  .ccl-form .ccl-form-check-input + label {
    padding-left: 1.6666666667rem; }
  .ccl-form .ccl-form-check-input + .ccl-form-check-label {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .ccl-form .ccl-form-check-input + .ccl-form-check-label::after,
  .ccl-form .form-check-input + label::after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0.1666666667rem;
    background: 0 0;
    width: 1rem;
    height: 1rem;
    border-radius: 2px; }
  .ccl-form .ccl-form-check-input:checked + .ccl-form-check-label:before {
    content: "";
    display: block;
    width: 0.2777777778rem;
    left: 0.3888888889rem;
    position: absolute;
    top: 0.1666666667rem;
    right: -1.1666666667rem;
    height: 0.7222222222rem;
    border: solid;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .ccl-form button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-right: 4rem;
    padding-left: 4rem;
    border-radius: 10px;
    width: 100% !important; }
  .ccl-form * + .ccl-select-container {
    margin-top: 0.89rem; }
  .ccl-form .ccl-select-container {
    position: relative;
    /*style the arrow inside the select element:*/
    /*point the arrow upwards when the select box is open (active):*/
    /*style the items (options), including the selected item:*/
    /*style items (options):*/
    /*hide the items when the select box is closed:*/ }
    .ccl-form .ccl-select-container .ccl-select-selected {
      position: relative;
      background-color: #fff;
      background-image: none;
      box-sizing: border-box;
      min-height: 2.5555555556rem;
      display: block;
      font-size: 1rem;
      line-height: 1.6;
      margin: 0;
      padding: 0.5555555556rem 1.1111111111rem;
      width: 100%;
      border-radius: 0.25rem; }
    .ccl-form .ccl-select-container .ccl-select-selected:after {
      display: inline-block;
      font-family: "ccl-icons";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: 900;
      line-height: 1;
      margin-left: 0.2222222222rem;
      margin-top: 0.1666666667rem;
      speak: none;
      text-decoration: none;
      text-transform: none;
      font-size: 1.5rem;
      margin-left: 0.66rem;
      position: absolute;
      right: 0.8888888889rem;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      content: "\e914"; }
    .ccl-form .ccl-select-container .ccl-select-selected.ccl-select-arrow-active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
      .ccl-form .ccl-select-container .ccl-select-selected.ccl-select-arrow-active:after {
        content: "\e911"; }
    .ccl-form .ccl-select-container .ccl-select-items div,
    .ccl-form .ccl-select-container .ccl-select-selected {
      padding: 8px 16px;
      cursor: pointer;
      user-select: none; }
    .ccl-form .ccl-select-container .ccl-select-items {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
      border-top: 0px;
      background-color: #fff;
      border-radius: 0.25rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
    .ccl-form .ccl-select-container .ccl-select-hide {
      display: none; }
    .ccl-form .ccl-select-container .ccl-select-items div:hover .ccl-select-items, .ccl-form .ccl-select-container.ccl-select-container-reverse .ccl-select-items {
      position: absolute;
      top: inherit;
      bottom: 100%;
      left: 0;
      right: 0;
      z-index: 99;
      border-bottom: 0px;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .ccl-form .ccl-select-container .ccl-select-items div:hover .ccl-select-selected:after, .ccl-form .ccl-select-container.ccl-select-container-reverse .ccl-select-selected:after {
      content: "\e911"; }
    .ccl-form .ccl-select-container .ccl-select-items div:hover .ccl-select-selected.ccl-select-arrow-active, .ccl-form .ccl-select-container.ccl-select-container-reverse .ccl-select-selected.ccl-select-arrow-active {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
      .ccl-form .ccl-select-container .ccl-select-items div:hover .ccl-select-selected.ccl-select-arrow-active:after, .ccl-form .ccl-select-container.ccl-select-container-reverse .ccl-select-selected.ccl-select-arrow-active:after {
        content: "\e914"; }

.ccl-dropdown__link {
  padding: 0.75rem 0.75rem 0.75rem 2.75rem;
  margin: 0.5rem 0 0 0;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-out;
  word-break: break-word; }

.ccl-expandable__block > :first-child::after {
  height: 3px;
  width: 0.8rem;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%); }

.ccl-expandable__block > :first-child::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  height: 0.8rem;
  width: 3px;
  content: "";
  margin-left: calc((0.8rem - 3px) / 2); }

.ccl-expandable__block[aria-expanded="true"] > .ccl-dropdown__link::before {
  display: none; }

*[class*="ccl-button--filter-"] {
  border-radius: 0 !important; }

.ccl-filter-list {
  list-style: none;
  padding-left: 0; }
  .ccl-filter-list label {
    color: #6c6e73; }

.ccl-filter-link {
  text-decoration: none; }
  .ccl-filter-link span {
    text-decoration: none; }

.ccl-filter__block {
  border-radius: 6px;
  margin-top: 2rem;
  padding: 1rem; }
  .ccl-filter__block label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3rem; }
  .ccl-filter__block .ccl-dropdown__link {
    display: block; }
  .ccl-filter__block .tag-select {
    display: inline-block;
    padding: 0.1rem 0.3rem !important;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 2px;
    font-size: 0.9rem; }

.ccl-form-filter-search {
  display: flex; }

input.ccl-text-input-filter {
  border-radius: 0;
  width: 100%;
  font-size: 0.9rem;
  margin: 0;
  height: auto !important;
  min-height: 2.2rem;
  border-bottom-color: #fff !important;
  border-top-color: #fff !important;
  border-left-color: #fff !important;
  padding: 0 0 0 1rem; }
  input.ccl-text-input-filter::placeholder {
    color: #999 !important; }

input.ccl-button-filter {
  padding: 0 1rem 0 1rem !important;
  border-radius: 0;
  border-bottom-color: #fff !important;
  border-top-color: #fff !important;
  border-left-color: #fff !important;
  width: auto;
  font-size: 0.9rem;
  margin: 0;
  height: auto !important;
  cursor: pointer; }
  input.ccl-button-filter.ccl-button-filter-icon {
    padding-right: 2rem !important;
    margin-right: -1.5rem; }
    input.ccl-button-filter.ccl-button-filter-icon + i.fa, input.ccl-button-filter.ccl-button-filter-icon + i.fas {
      margin-right: 0.5rem;
      height: auto !important;
      min-height: 2.2rem;
      line-height: 2.2rem; }

.ccl-modal {
  padding: 1rem;
  position: relative;
  color: #fff; }
  .ccl-modal .ccl-modal-title {
    font-size: 1.4rem;
    margin-left: 3rem;
    margin-right: 3rem; }
  .ccl-modal .ccl-modal-body {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem; }
    .ccl-modal .ccl-modal-body * {
      color: #fff !important; }
  .ccl-modal .ccl-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: 1.1rem; }
  .ccl-modal .ccl-modal-buttons {
    text-align: right;
    margin-left: 3rem;
    margin-right: 3rem; }
    .ccl-modal .ccl-modal-buttons button {
      border-color: #fff;
      color: #fff; }

.ccl-list-tags {
  margin: 0; }
  .ccl-list-tags ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline; }
    .ccl-list-tags ul li {
      margin: 0.15rem;
      display: inline-block;
      list-style: none;
      font-weight: 400 !important;
      font-size: 13px !important;
      color: #fff !important;
      text-transform: uppercase;
      border: 1px solid #fff;
      padding: 0.2rem 0.4rem; }

.ccl-menu ul {
  margin: 0;
  padding: 0; }
  .ccl-menu ul li {
    list-style: none;
    margin: 0;
    padding: 0; }
    .ccl-menu ul li.active > ul {
      display: block; }
.ccl-menu > ul > li {
  display: block;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 10px; }
  .ccl-menu > ul > li a {
    display: block;
    margin: 0;
    vertical-align: middle;
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1111111111rem; }
  .ccl-menu > ul > li li {
    border-radius: 0px;
    border-left: 1px solid #fff;
    margin-bottom: 0; }
    .ccl-menu > ul > li li a {
      font-weight: 400;
      position: relative; }
      .ccl-menu > ul > li li a:before {
        content: "";
        left: 0;
        top: calc(50% - 5px);
        border-style: solid;
        border-width: 5px 10px 5px 0;
        border-color: transparent #fff transparent;
        position: absolute;
        transform: rotate(180deg);
        opacity: 0;
        transition: all 0.3s ease-out; }
      .ccl-menu > ul > li li a:hover:before {
        opacity: 1; }
    .ccl-menu > ul > li li.active > a:before {
      opacity: 1; }
  .ccl-menu > ul > li:has(ul) {
    clip-path: polygon(100% 0, calc(100% - 0px) calc(87% - 10px), calc(100% - 0.014px) calc(87% - 9.477px), calc(100% - 0.055px) calc(87% - 8.955px), calc(100% - 0.123px) calc(87% - 8.436px), calc(100% - 0.219px) calc(87% - 7.921px), calc(100% - 0.341px) calc(87% - 7.412px), calc(100% - 0.489px) calc(87% - 6.91px), calc(100% - 0.664px) calc(87% - 6.416px), calc(100% - 0.865px) calc(87% - 5.933px), calc(100% - 1.09px) calc(87% - 5.46px), calc(100% - 1.34px) calc(87% - 5px), calc(100% - 1.613px) calc(87% - 4.554px), calc(100% - 1.91px) calc(87% - 4.122px), calc(100% - 2.229px) calc(87% - 3.707px), calc(100% - 2.569px) calc(87% - 3.309px), calc(100% - 2.929px) calc(87% - 2.929px), calc(100% - 3.309px) calc(87% - 2.569px), calc(100% - 3.707px) calc(87% - 2.229px), calc(100% - 4.122px) calc(87% - 1.91px), calc(100% - 4.554px) calc(87% - 1.613px), calc(100% - 5px) calc(87% - 1.34px), calc(100% - 5.46px) calc(87% - 1.09px), calc(100% - 5.933px) calc(87% - 0.865px), calc(100% - 6.416px) calc(87% - 0.664px), calc(100% - 6.91px) calc(87% - 0.489px), calc(100% - 7.412px) calc(87% - 0.341px), calc(100% - 7.921px) calc(87% - 0.219px), calc(100% - 8.436px) calc(87% - 0.123px), calc(100% - 8.955px) calc(87% - 0.055px), calc(100% - 9.477px) calc(87% - 0.014px), calc(100% - 10px) calc(87% - 0px), 10px 100%, 0 100%, 0 0); }
    .ccl-menu > ul > li:has(ul) ul {
      display: none;
      margin-inline: 1.25rem; }
  .ccl-menu > ul > li.active > ul {
    padding-bottom: 90px; }

.ccl-graphic-lines {
  clip-path: polygon(100% 0, calc(100% - 0px) calc(87% - 10px), calc(100% - 0.014px) calc(87% - 9.477px), calc(100% - 0.055px) calc(87% - 8.955px), calc(100% - 0.123px) calc(87% - 8.436px), calc(100% - 0.219px) calc(87% - 7.921px), calc(100% - 0.341px) calc(87% - 7.412px), calc(100% - 0.489px) calc(87% - 6.91px), calc(100% - 0.664px) calc(87% - 6.416px), calc(100% - 0.865px) calc(87% - 5.933px), calc(100% - 1.09px) calc(87% - 5.46px), calc(100% - 1.34px) calc(87% - 5px), calc(100% - 1.613px) calc(87% - 4.554px), calc(100% - 1.91px) calc(87% - 4.122px), calc(100% - 2.229px) calc(87% - 3.707px), calc(100% - 2.569px) calc(87% - 3.309px), calc(100% - 2.929px) calc(87% - 2.929px), calc(100% - 3.309px) calc(87% - 2.569px), calc(100% - 3.707px) calc(87% - 2.229px), calc(100% - 4.122px) calc(87% - 1.91px), calc(100% - 4.554px) calc(87% - 1.613px), calc(100% - 5px) calc(87% - 1.34px), calc(100% - 5.46px) calc(87% - 1.09px), calc(100% - 5.933px) calc(87% - 0.865px), calc(100% - 6.416px) calc(87% - 0.664px), calc(100% - 6.91px) calc(87% - 0.489px), calc(100% - 7.412px) calc(87% - 0.341px), calc(100% - 7.921px) calc(87% - 0.219px), calc(100% - 8.436px) calc(87% - 0.123px), calc(100% - 8.955px) calc(87% - 0.055px), calc(100% - 9.477px) calc(87% - 0.014px), calc(100% - 10px) calc(87% - 0px), 10px 100%, 0 100%, 0 0);
  border-radius: 10px;
  margin-bottom: 160px;
  height: 96%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

@media (min-width: 820px) {
  .ccl-mobile-only {
    display: none !important; } }

@media (max-width: 820px) {
  .ccl-desktop-only {
    display: none !important; } }

/*# sourceMappingURL=elements.css.map */
