/*
Error: Invalid CSS after "...lor-text_light:": expected expression (e.g. 1px, bold), was "#615C9F80;"
        on line 15 of sass/colors/_theme-generic.scss
        from line 3 of sass/elements.scss

10: $theme: generic;
11: $ccl-color-main:#615C9F;
12: $ccl-color-bar:#81C5A5;
13: $ccl-color-title:#615C9F;
14: $ccl-color-text:#000000;
15: $ccl-color-text_light:#615C9F80;
16: $ccl-color-link_hover:#000000;
17: $ccl-color-link:#615C9F;

Backtrace:
sass/colors/_theme-generic.scss:15
sass/elements.scss:3
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1278:in `expected'
/usr/lib/ruby/vendor_ruby/sass/script/lexer.rb:231:in `expected!'
/usr/lib/ruby/vendor_ruby/sass/script/parser.rb:724:in `assert_expr'
/usr/lib/ruby/vendor_ruby/sass/script/parser.rb:68:in `parse'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1134:in `sass_script'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:642:in `variable'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:696:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:689:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:137:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:414:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:321:in `to_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:327:in `block in visit_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `block in with_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:326:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:162:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:170:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:190:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:161:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:10:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:387:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...lor-text_light:\": expected expression (e.g. 1px, bold), was \"#615C9F80;\"\A         on line 15 of sass/colors/_theme-generic.scss\A         from line 3 of sass/elements.scss\A \A 10: $theme: generic;\A 11: $ccl-color-main:#615C9F;\A 12: $ccl-color-bar:#81C5A5;\A 13: $ccl-color-title:#615C9F;\A 14: $ccl-color-text:#000000;\A 15: $ccl-color-text_light:#615C9F80;\A 16: $ccl-color-link_hover:#000000;\A 17: $ccl-color-link:#615C9F;"; }
