/*THEME marine*/

$theme: marine;
$ccl-color-main: #22689b;
$ccl-color-bar: #81c5a5;
$ccl-color-title: #273b4b;
$ccl-color-text: #212529;
$ccl-color-text_light: #adb0b8;
$ccl-color-link_hover: #146883;
$ccl-color-link: #1b97bf;
$ccl-color-block-title: #024494;
