/*THEME security*/

$theme: security;
$ccl-color-main: #618888;
$ccl-color-bar: #81c5a5;
$ccl-color-title: #273b4b;
$ccl-color-text: #212529;
$ccl-color-text_light: #adb0b8;
$ccl-color-link_hover: #617b7b;
$ccl-color-link: #7da7a7;
$ccl-color-block-title: #024494;
