/*THEME insitu*/

$theme: insitu;
$ccl-color-main: #783f34;
$ccl-color-bar: #81c5a5;
$ccl-color-title: #273b4b;
$ccl-color-text: #212529;
$ccl-color-text_light: #adb0b8;
$ccl-color-link_hover: #60342b;
$ccl-color-link: #96574a;
$ccl-color-block-title: #024494;
