/*THEME emergency*/

$theme: emergency;
$ccl-color-main: #faa73e;
$ccl-color-bar: #81c5a5;
$ccl-color-title: #273b4b;
$ccl-color-text: #212529;
$ccl-color-text_light: #adb0b8;
$ccl-color-link_hover: #286e9f;
$ccl-color-link: #ffbd6a;
$ccl-color-block-title: #024494;
