/*THEME atmosphere*/

$theme: atmosphere;
$ccl-color-main: #55bfd0;
$ccl-color-bar: #81c5a5;
$ccl-color-title: #273b4b;
$ccl-color-text: #212529;
$ccl-color-text_light: #adb0b8;
$ccl-color-link_hover: #5aa8bc;
$ccl-color-link: #80dcf4;
$ccl-color-block-title: #024494;
