// valid for all themes
$ccl-color-error:#da2130;
$ccl-color-border-grey:#404040;
$ccl-color-border-medium:#6C6E73;
$ccl-color-border-grey-light:#dadada;
$ccl-color-bg-grey:#7690A3;

/*THEME generic*/

$theme: generic;
$ccl-color-main:#615C9F;
$ccl-color-bar:#81C5A5;
$ccl-color-title:#615C9F;
$ccl-color-text:#000000;
$ccl-color-text_light:rgba(97, 92, 159, 0.8);
$ccl-color-link_hover:#fff;
$ccl-color-link:#615C9F;