// valid for all themes
$ccl-color-error: #da2130;
$ccl-color-border-grey: #404040;
$ccl-color-border-medium: #6c6e73;
$ccl-color-border-grey-light: #dadada;
$ccl-color-bg-grey: #7690a3;
$ccl-color-bg-grey-menu: #f6f7f7;
/*THEME generic*/

$theme: generic;
$ccl-color-main: #615c9f;
$ccl-color-bar: #81c5a5;
$ccl-color-title: #615c9f;
$ccl-color-text: #000000;
$ccl-color-text_light: rgba(97, 92, 159, 0.8);
$ccl-color-link_hover: #615c9f;
$ccl-color-link: #615c9f;
$ccl-color-blue: #024494;
$ccl-color-block-title: #024494;
