/*THEME land*/

$theme: land;
$ccl-color-main: #a0b128;
$ccl-color-bar: #81c5a5;
$ccl-color-title: #273b4b;
$ccl-color-text: #212529;
$ccl-color-text_light: #adb0b8;
$ccl-color-link_hover: #7c8921;
$ccl-color-link: #acbe39;
$ccl-color-block-title: #024494;
