.ccl-banner-top-container {
  .ccl-banner-top-main {
    background-size: cover !important;
    background-position: center center !important;
    min-height: rem-calc(375);
    padding: 0 rem-calc(20);
    .ccl-container {
      min-height: rem-calc(375);
      display: flex;
      align-items: center;
    }
  }
  .ccl-banner-top-main-block-title {
    max-width: rem-calc(530);
    color: #fff !important;
    font-size: rem-calc(25);
    padding: 0.5rem;
    .ccl-banner-top-main-title {
      font-size: rem-calc(50);
      font-weight: 700;
      text-transform: uppercase;
      line-height: rem-calc(54);
      padding-right: rem-calc(50);
    }
    .ccl-banner-top-main-text {
      font-size: rem-calc(25);
      font-weight: 700;
      line-height: rem-calc(28);
    }
  }
}

.ccl-banner-top-bar {
  color: #fff;
  // border-bottom: 1px solid $ccl-color-border-medium;
  // border-top: 1px solid $ccl-color-border-medium;
  padding: 0 rem-calc(20);
  .ccl-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .ccl-banner-top-bar-left,
    .ccl-banner-top-bar-right {
      padding: rem-calc(12) 0;
    }
  }
}