.ccl-banner-top-container-slider {
  .slick-arrow {
    z-index: 100;
    height: rem-calc(40);
    width: rem-calc(40);
    &:before {
      font-size: rem-calc(40);
      font-weight: 900;
    }
  }
  .slick-prev {
    left: rem-calc(5);
  }
  .slick-next {
    right: rem-calc(5);
  }
  .ccl-banner-top-main-block-title {
    margin-left: 3rem;
  }
}

.ccl-list-carousel {
  padding-left: rem-calc(40);
  padding-right: rem-calc(40);
  @media (max-width: 600px) {
    padding-left: 0;
    padding-right: 0;
  }
  .slick-arrow {
    z-index: 100;
    height: rem-calc(40);
    width: rem-calc(40);
    @media (max-width: 1520px) {
      width: rem-calc(30);
    }
    &:before {
      font-size: rem-calc(40);
      font-weight: 900;
      top: 3px;
      position: absolute;
      left: 0;
      color: $ccl-color-block-title;
    }
    &:hover,
    &:focus {
      background-color: $ccl-color-border-grey-light !important;
    }
  }
  .slick-prev {
    left: 0;
    @media (max-width: 1520px) {
      background-color: $ccl-color-blue !important;
      border-top-right-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
      &.slick-arrow:before {
        color: #fff !important;
        font-size: rem-calc(25) !important;
        line-height: rem-calc(38) !important;
        opacity: 1;
      }
      &.slick-disabled:before {
        opacity: 0.5;
      }
    }
  }
  .slick-next {
    right: 0;
    @media (max-width: 1520px) {
      background-color: $ccl-color-block-title !important;
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
      &.slick-arrow:before {
        color: #fff !important;
        font-size: rem-calc(25) !important;
        line-height: rem-calc(38) !important;
        opacity: 1;
      }
      &.slick-disabled:before {
        opacity: 0.5;
      }
    }
  }
  .ccl-list-item {
    margin-left: rem-calc(10);
    margin-right: rem-calc(10);
  }
}

.ccl-list-carousel-full-with {
  .slick-prev {
    @media (max-width: 1520px) {
      left: calc(50% - (100vw / 2)) !important;
    }
  }
  .slick-next {
    @media (max-width: 1520px) {
      right: calc(50% - (100vw / 2)) !important;
    }
  }
}
