//breadcrumbs
.ccl-breadcrumb {
  .ccl-breadcrumb__segments-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    .ccl-breadcrumb__segment:last-child .ccl-breadcrumb__link:after {
      content: none;
    }
  }
  .ccl-breadcrumb__segment {
    font-size: 0.875rem;
    line-height: 1.375;
    display: block;
    .ccl-breadcrumb__link {
      margin-right: 2rem;
      font-weight: 400;
      &:after {
        display: inline-block;
        position: absolute;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        speak: none;
        text-decoration: none;
        text-transform: none;
        content: ">";
        width: 2rem;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.ccl-breadcrumb-white {
    .ccl-breadcrumb__link {
      color: #fff;
    }
  }
}
