.ccl-dropdown__link {
	padding: 0.75rem 0.75rem 0.75rem 2.75rem;
	margin: 0.5rem 0 0 0;
	cursor: pointer;
	position: relative;

	transition: all 0.2s ease-out;
	word-break: break-word;
}
.ccl-expandable__block > :first-child::after {
	height: 3px;
	width: 0.8rem;
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0.75rem;
	transform: translateY(-50%);
}

.ccl-expandable__block > :first-child::before {
	display: block;
	position: absolute;
	top: 50%;
	left: 0.75rem;
	transform: translateY(-50%);
	height: 0.8rem;
	width: 3px;
	content: "";
	margin-left: calc((0.8rem - 3px) / 2);
}

.ccl-expandable__block[aria-expanded="true"] > .ccl-dropdown__link::before {
	display: none;
}
