//links
.ccl-link {
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 1px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

.ccl-link_hover {
  text-decoration: none;
  padding-bottom: 1px;
  font-weight: 400;
  text-decoration: underline;
}