.ccl-menu {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      &.active > ul {
        display: block;
      }
    }
  }
  & > ul > li {
    display: block;
    margin: 0 0 0.5rem 0;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 10px;
    a {
      display: block;
      margin: 0;
      vertical-align: middle;
      padding: 1rem;
      text-decoration: none;
      font-weight: 700;
      font-size: rem-calc(20);
    }

    li {
      border-radius: 0px;
      border-left: 1px solid #fff;
      margin-bottom: 0;
      a {
        font-weight: 400;
        position: relative;
        &:before {
          content: "";
          left: 0;
          top: calc(50% - 5px);
          border-style: solid;
          border-width: 5px 10px 5px 0;
          border-color: transparent #fff transparent;
          position: absolute;
          transform: rotate(180deg);
          opacity: 0;
          transition: all 0.3s ease-out;
        }
        &:hover:before {
          opacity: 1;
        }
      }
      &.active {
        & > a:before {
          opacity: 1;
        }
      }
    }

    &:has(ul) {
      clip-path: polygon(
        100% 0,
        calc(100% - 0px) calc(87% - 10px),
        calc(100% - 0.014px) calc(87% - 9.477px),
        calc(100% - 0.055px) calc(87% - 8.955px),
        calc(100% - 0.123px) calc(87% - 8.436px),
        calc(100% - 0.219px) calc(87% - 7.921px),
        calc(100% - 0.341px) calc(87% - 7.412px),
        calc(100% - 0.489px) calc(87% - 6.91px),
        calc(100% - 0.664px) calc(87% - 6.416px),
        calc(100% - 0.865px) calc(87% - 5.933px),
        calc(100% - 1.09px) calc(87% - 5.46px),
        calc(100% - 1.34px) calc(87% - 5px),
        calc(100% - 1.613px) calc(87% - 4.554px),
        calc(100% - 1.91px) calc(87% - 4.122px),
        calc(100% - 2.229px) calc(87% - 3.707px),
        calc(100% - 2.569px) calc(87% - 3.309px),
        calc(100% - 2.929px) calc(87% - 2.929px),
        calc(100% - 3.309px) calc(87% - 2.569px),
        calc(100% - 3.707px) calc(87% - 2.229px),
        calc(100% - 4.122px) calc(87% - 1.91px),
        calc(100% - 4.554px) calc(87% - 1.613px),
        calc(100% - 5px) calc(87% - 1.34px),
        calc(100% - 5.46px) calc(87% - 1.09px),
        calc(100% - 5.933px) calc(87% - 0.865px),
        calc(100% - 6.416px) calc(87% - 0.664px),
        calc(100% - 6.91px) calc(87% - 0.489px),
        calc(100% - 7.412px) calc(87% - 0.341px),
        calc(100% - 7.921px) calc(87% - 0.219px),
        calc(100% - 8.436px) calc(87% - 0.123px),
        calc(100% - 8.955px) calc(87% - 0.055px),
        calc(100% - 9.477px) calc(87% - 0.014px),
        calc(100% - 10px) calc(87% - 0px),
        10px 100%,
        0 100%,
        0 0
      );
      ul {
        display: none;
        margin-inline: 1.25rem;
      }
    }
    &.active > ul {
      padding-bottom: 90px;
    }
  }
}
