.ccl-list-tags {
  margin: 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    li {
      margin: 0.15rem;
      display: inline-block;
      list-style: none;
      font-weight: 400 !important;
      font-size: 13px !important;
      color: #fff !important;
      text-transform: uppercase;
      border: 1px solid #fff;
      padding: 0.2rem 0.4rem;
    }
  }
}
